// CUSTOM SELECT
.custom-select {
    position: relative;
    width: get-vw-desktop(270px);
    border: 1px solid $sky_blue;
    border-radius: get-vw-desktop(5px);
    box-sizing: border-box;
    background-color: $sky_blue2;
    cursor: pointer;

    select {
        display: none;
    }

    .select {
        &-selected {
            padding: get-vw-desktop(11px) get-vw-desktop(30px) get-vw-desktop(11px) get-vw-desktop(18px);
            position: relative;
            border-radius: get-vw-desktop(10px);
            width: 100%;
            @include displayFlex;
            align-items: center;
            justify-content: flex-start;
            color: $navy;
            font-size: get-vw-desktop(12px);
            line-height: get-vw-desktop(18px);
            user-select: none;
    
            &:after {
                margin: auto;
                position: absolute;
                content: "";
                top: 0;
                right: get-vw-desktop(16px);
                bottom: 0;
                width: get-vw-desktop(11px);
                height: get-vw-desktop(6px);
                background-image: url('./../images/icons/common/custom-select-arrow.svg');
                background-size: contain;
                background-repeat: no-repeat;
                @include transitionAll;
                
            }
    
            &.select-arrow-active {
                &:after {
                   @include transform(rotate(180deg) perspective(1px));
                }
            }
        }
    
        &-items {
            position: absolute;
            background-color: $white;
            box-shadow: 0 get-vw-desktop(6px) get-vw-desktop(10px) 0 rgba(0,0,0,0.02);
            border-radius: get-vw-desktop(5px);
            border: 1px solid $sky_blue;
            top: calc(100% + 0.347vw); // 100% + 5px
            left: 0;
            right: 0;
            z-index: 99;
            max-height: get-vw-desktop(180px);
            overflow-y: auto;
    
            div {
                padding: get-vw-desktop(10px) get-vw-desktop(18px);
                font-size: get-vw-desktop(12px);
                line-height: get-vw-desktop(18px);
                color: $navy;
                cursor: pointer;
                user-select: none;
                @include transitionOpacity;
    
                &:not(:last-of-type) {
                    border-bottom: 1px solid $sky_blue;
                }
    
                &:hover {
                    background-color: #f6f6f6;
                }
            }
        }
    
        &-hide {
            display: none;
        }
    }
    
    .same-as-selected {
        background-color: rgba(0, 0, 0, 0.1);
    }

    &.has-error {
        border-color: $red;
    }

    &--fixed {
        opacity: 0.5;
        cursor: not-allowed;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            z-index: 1;
            background-color: transparent;
        }
    }
}


// Has Error 
.has-error {
    .custom-select {
        background-color: $peach;
    }
    .select-items {
        border-color: $peach;
    }
}

.dark-mode {
    .custom-select {
        .select-selected {
            &:after {
                background-image: url('./../images/icons/common/custom-select-arrow-white.svg');
            }
        }
    }
}


// LIQUID MOBILE - Custom Select
@include mqMax($mq-max-mobile) {

    .custom-select {
        width: 100%;
        border-radius: get-vw-mobile(5px);

        .select {
            &-selected {
                padding: get-vw-mobile(11px) get-vw-mobile(30px) get-vw-mobile(11px) get-vw-mobile(18px);
                border-radius: get-vw-mobile(10px);
                font-size: get-vw-mobile(10px);
                line-height: get-vw-mobile(16px);
        
                &:after {
                    right: get-vw-mobile(16px);
                    width: get-vw-mobile(11px);
                    height: get-vw-mobile(6px);
                }
            }
        
            &-items {
                box-shadow: 0 get-vw-mobile(6px) get-vw-mobile(10px) 0 rgba(0,0,0,0.05);
                border-radius: get-vw-mobile(10px);
                max-height: get-vw-mobile(140px);
                top: calc(100% + 1.389vw); // 100% + 5px
        
                div {
                    padding: get-vw-mobile(15px) get-vw-mobile(16px);
                    font-size: get-vw-mobile(10px);
                    line-height: get-vw-mobile(16px);
        
                    &:not(:last-of-type) {
                        border-bottom: get-vw-mobile(1px) solid $sky_blue;
                    }
                }
            }
        
        }
    }
}