// MENU TOGGLER
.menuToggler {
    display: none;
}


// LIQUID MOBILE - Menu Toggler
@include mqMax($mq-max-mobile) {
    .menuToggler {
        position: relative;
        height: get-vw-mobile(23px);
        width: get-vw-mobile(25px);
        z-index: 200;
        @include transition(.2s ease);
        display: block;

        &__btn {
            position: absolute;
            width: get-vw-mobile(25px);
            height: get-vw-mobile(23px);
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            margin: auto;
            cursor: pointer;
            z-index: 1;
            @include transition(.2s ease);

            &-line {
                position: absolute;
                height: get-vw-mobile(4px);
                background-color: $d_navy_2;
                width: 100%;
                right: 0;

                &:nth-child(1) {
                    top: 0;
                    @include transform(perspective(1px));
                    @include transition(.2s ease 1.2s);
                }
                &:nth-child(2) {
                    top: 0;
                    bottom: 0;
                    margin: auto;

                    -webkit-transition: background 1s ease .2s, transform 1.2s ease .2s;
                    -moz-transition: background 1s ease .2s, transform 2s cubic-bezier(0.85, -0.02, 0, 1.01) .2s;
                    -o-transition: background 1s ease .2s, transform 2s cubic-bezier(0.85, -0.02, 0, 1.01) .2s;
                    transition: background 1s ease .2s, transform 2s cubic-bezier(0.85, -0.02, 0, 1.01) .2s;

                    &::before {
                        content: '';
                        position: absolute;
                        width: 100%;
                        height: get-vw-mobile(4px);
                        background-color: $d_navy_2;;
                        top: 0;
                        left: 0;
                        @include transform(perspective(1px));
                        -webkit-transition: background 1s ease .2s, transform 1.2s ease .2s;
                        -moz-transition: background 1s ease .2s, transform 1s cubic-bezier(0.85, -0.02, 0, 1.01) .2s;
                        -o-transition: background 1s ease .2s, transform 1s cubic-bezier(0.85, -0.02, 0, 1.01) .2s;
                        transition: background 1s ease .2s, transform 1s cubic-bezier(0.85, -0.02, 0, 1.01) .2s;
                    }
                }
                &:nth-child(3) {
                    bottom: 0;
                    @include transform(perspective(1px));
                    @include transition(.3s ease 1.2s);
                }
            }
        }

        &.is-active {
            .menuToggler__btn-line {
                &:nth-child(1) {
                    width: 0;
                    @include transition(.2s ease);
                }

                &:nth-child(3) {
                    width: 0;
                    @include transition(.3s ease);
                }

                &:nth-child(2) {
                    @include transform(perspective(1px) rotate(45deg));
                    -webkit-transition: background .2s ease, transform .8s ease;
                    -moz-transition: background .2s ease, transform 2s cubic-bezier(0.85, -0.02, 0, 1.01);
                    -o-transition: background .2s ease, transform 2s cubic-bezier(0.85, -0.02, 0, 1.01);
                    transition: background .2s ease, transform 2s cubic-bezier(0.85, -0.02, 0, 1.01);

                    &::before {
                        -webkit-transition: background .2s ease, transform .8s ease .3s;
                        -moz-transition: background .2s ease, transform .6s cubic-bezier(0.85, -0.02, 0, 1.01) .3s;
                        -o-transition: background .2s ease, transform .6s cubic-bezier(0.85, -0.02, 0, 1.01) .3s;
                        transition: background .2s ease, transform .6s cubic-bezier(0.85, -0.02, 0, 1.01) .3s;
                        @include transform(perspective(1px) rotate(-450deg));
                    }
                }
            }
        }
    }

    // DARK MODE
    .dark-mode {
        .menuToggler {
            &__btn {
                &-line {
                    background-color: $sky_blue;
                    
                    &:nth-child(2) {
                        &::before {
                            background-color: $sky_blue;;
                        }
                    }
                }
            }
        }
    }
}