// MODAL
.modal {
    background-color: rgba(2, 17, 51, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2000;
    @include dFlex(center);
    align-items: center;
    overflow-y: auto;
    padding: get-vw-desktop(20px) 0 get-vw-desktop(40px);
    visibility: hidden;
    opacity: 0;
    transition: .6s ease all;

    &__box {
        background-color: $white;
        border-radius: get-vw-desktop(5px);
        overflow: hidden;
        width: get-vw-desktop(700px);
        z-index: 1;
        visibility: hidden;
        opacity: 0;
        transform: translateY(1.042vw) perspective(1px);
        transition: .6s ease all;

        &.is-active {
            visibility: visible;
            opacity: 1;
            transform: translateY(0) perspective(1px);
            transition: .6s ease all;
        }

        &--add, 
        &--edit {
            .modal__header {
                background-color: $navy;
            }
        }
    }

    &__close-btn {
        content: '';
        position: absolute;
        top: get-vw-desktop(18px);
        right: get-vw-desktop(14px);
        display: inline-block;
        width: get-vw-desktop(15px);
        height: get-vw-desktop(15px);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url('./../images/common/modal-close-button.svg');
        cursor: pointer;
        @include transitionOpacity;

        &.white-icon {
            background-image: url('./../images/common/modal-close-white-button.svg');
        }

        &:hover {
            opacity: 0.6;
        }
    }

    &__header {
        background-color: #999;
        @include dFlex(center);
        align-items: center;
        height: get-vw-desktop(65px);
        width: 100%;
        color: $white;
    }

    &__content {
        min-height: get-vw-desktop(310px);
        padding: get-vw-desktop(40px) get-vw-desktop(40px) get-vw-desktop(30px);
    }
    
    // ACTIVE
    &.is-active {
        visibility: visible;
        opacity: 1;
    }

    // Modifier New/Demo Accounts Modal
    &--my-accounts {
        .modal {
            &__header {
                padding: get-vw-desktop(20px);
                background: $primary;
            }

            &__box {
                width: auto;
                overflow: visible;
            }

            &__content-item {
                display: none;

                &.is-active {
                    display: block;
                }
            }
        }

        .form {
            flex-direction: column;

            &__field {
                width: 100%;

                .custom-select, 
                &-input {
                    input {
                        width: 100%;
                    }
                }
            }

            &__cta {
                .btn--blue {
                    min-width: initial;
                    width: get-vw-desktop(146px);
                }

                .btn--blue-outline {
                    min-width: initial;
                    width: get-vw-desktop(104px);
                }
            }
        }

        .custom-select {
            .select-items {
                max-height: get-vw-desktop(158px);
                overflow-y: auto;
                border: 0;
            }
        }
    }

    &--profile {
        .modal {
            &__header {
                padding: get-vw-desktop(20px);
                background: $primary;
            }
        }
    }

    &--privacy-policy {
        .modal {
            &__box {
                border: 2px solid $primary;
                border-radius: 0;
            }

            &__header {
                padding: get-vw-desktop(43px) get-vw-desktop(40px) get-vw-desktop(9px);
                display: block;
                height: auto;
                background-color: $white;
                color: $navy;
            }

            &__content {
                padding: get-vw-desktop(9px) get-vw-desktop(17px) get-vw-desktop(30px) get-vw-desktop(40px);
            }

            &__privacy-policy {
                &__heading {
                    font-size: get-vw-desktop(18px);
                    line-height: get-vw-desktop(26px);
                    text-align: center;
                }

                &__subtext {
                    margin: get-vw-desktop(5px) auto 0;
                    font-size: get-vw-desktop(14px);
                    line-height: get-vw-desktop(21px);
                    text-align: center;
                }

                &__content {
                    margin: get-vw-desktop(18px) auto 0;
                    padding: 0 get-vw-desktop(40px) 0 0;
                    height: get-vw-desktop(310px);
                    overflow-y: scroll;

                    p {
                        margin: 0 0 get-vw-desktop(30px);
                        font-size: get-vw-desktop(12px);
                        line-height: get-vw-desktop(18px);
                    }

                    &::-webkit-scrollbar {
                        width: get-vw-desktop(8px);
                        background-color: $sky_blue;
                        border: none;
                    }
            
                    &::-webkit-scrollbar-thumb {
                        height: get-vw-desktop(38px);
                        background: $primary;
                        border: none;
                    }
                }

                &__subheading {
                    margin: 0 0 get-vw-desktop(20px);
                    font-size: get-vw-desktop(14px);
                    line-height: get-vw-desktop(20px);
                }
            }
        }
    }

    &--share-link {
        .modal {
            &__box {
                width: get-vw-desktop(400px);
            }

            &__close-btn {
                top: get-vw-desktop(10px);
                right: get-vw-desktop(10px);
                width: get-vw-desktop(10px);
                height: get-vw-desktop(10px);
            }

            &__header {
                padding: get-vw-desktop(32px) get-vw-desktop(15px);
                background: $primary;
                height: auto;
                text-align: center;

                &-title {
                    font-size: get-vw-desktop(24px);
                    line-height: get-vw-desktop(35px);
                }

                p {
                    margin: get-vw-desktop(5px) auto 0;
                    font-size: get-vw-desktop(12px);
                    line-height: get-vw-desktop(18px);
                }
            }

            &__content {
                padding: get-vw-desktop(32px) get-vw-desktop(50px);
                min-height: inherit;
            }
        }
    }
}

.dark-mode {
    .modal {
        &__content {
            background-color: $light_blue2;
        }

        .form {
            &__field {
                &-label {
                    color: $white;
                }

                &-input {
                    border: none;
                }
            }
        }

        .custom-select {
            border: none;
            background-color: $opac_white_5;

            .select-selected {
                color: $white;
            }
        }
    }
}


// LIQUID MOBILE - Modal
@include mqMax($mq-max-mobile) {
    .modal {
        padding: get-vw-mobile(20px) 0 get-vw-mobile(40px);
    
        &__box {
            border-radius: get-vw-mobile(5px);
            width: get-vw-mobile(320px);
            transform: translateY(4.444vw) perspective(1px);
        }

        &__close-btn {
            top: get-vw-mobile(14px);
            right: get-vw-mobile(15px);
            width: get-vw-mobile(10px);
            height: get-vw-mobile(10px);
        }
    
        &__header {
            height: get-vw-mobile(65px);

            &-title {
                font-size: get-vw-mobile(14px);
                line-height: get-vw-mobile(20px);
            }
        }
    
        &__content {
            min-height: get-vw-mobile(310px);
            padding: get-vw-mobile(20px) get-vw-mobile(25px);
        }
        
    
        // ACTIVE
        &.is-active {
            visibility: visible;
            opacity: 1;
        }

        // Modifier New/Demo Accounts Modal
        &--my-accounts {
            .modal {
                &__header {
                    padding: get-vw-mobile(20px);
                    background: $primary;
                }

                &__box {
                    width: auto;
                    overflow: visible;
                }

                &__content-item {
                    display: none;

                    &.is-active {
                        display: block;
                    }
                }
            }

            .form {
                flex-direction: column;

                &__field {
                    .custom-select, 
                    &-input {
                        input {
                            width: 100%;
                        }
                    }
                }

                &__cta {
                    .btn--blue {
                        min-width: initial;
                        width: get-vw-mobile(136px);
                    }

                    .btn--blue-outline {
                        min-width: initial;
                        width: get-vw-mobile(84px);
                    }
                }
            }

            .custom-select {
                .select-items {
                    max-height: get-vw-mobile(142px);
                    overflow-y: auto;
                    border: 0;
                }
            }
        }

        &--privacy-policy {
            .modal {
                &__header {
                    padding: get-vw-mobile(24px) get-vw-mobile(28px) get-vw-mobile(7px);
                }
    
                &__content {
                    padding: get-vw-mobile(7px) get-vw-mobile(17px) get-vw-mobile(30px) get-vw-mobile(28px);
                }
    
                &__privacy-policy {
                    &__heading {
                        font-size: get-vw-mobile(16px);
                        line-height: get-vw-mobile(24px);
                    }
    
                    &__subtext {
                        margin: get-vw-mobile(6px) auto 0;
                        font-size: get-vw-mobile(12px);
                        line-height: get-vw-mobile(18px);
                    }
    
                    &__content {
                        margin: get-vw-mobile(14px) auto 0;
                        padding: 0 get-vw-mobile(14px) 0 0;
                        height: get-vw-mobile(270px);
    
                        p {
                            margin: 0 0 get-vw-mobile(24px);
                            font-size: get-vw-mobile(12px);
                            line-height: get-vw-mobile(18px);
                        }
    
                        &::-webkit-scrollbar {
                            width: get-vw-mobile(7px);
                        }
                
                        &::-webkit-scrollbar-thumb {
                            height: get-vw-mobile(32px);
                            border-radius: get-vw-mobile(30px);
                        }
                    }
    
                    &__subheading {
                        margin: 0 0 get-vw-mobile(12px);
                        font-size: get-vw-mobile(12px);
                        line-height: get-vw-mobile(20px);
                    }
                }
            }
        }

        &--share-link {
            .modal {
                &__box {
                    width: get-vw-mobile(320px);
                }

                &__close-btn {
                    top: get-vw-mobile(10px);
                    right: get-vw-mobile(10px);
                    width: get-vw-mobile(10px);
                    height: get-vw-mobile(10px);
                }
    
                &__header {
                    padding: get-vw-mobile(26px) get-vw-mobile(15px);
    
                    &-title {
                        font-size: get-vw-mobile(18px);
                        line-height: get-vw-mobile(26px);
                    }
    
                    p {
                        margin: get-vw-mobile(4px) auto 0;
                        font-size: get-vw-mobile(12px);
                        line-height: get-vw-mobile(18px);
                    }
                }
    
                &__content {
                    padding: get-vw-mobile(32px) get-vw-mobile(10px);
                    min-height: inherit;
                }
            }
        }
    }
}